*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto Slab", sans-serif;
}

#header .address {
    height: 100%;
    padding: 8px 0;
    background-color: rgb(29, 4, 4);
    text-align: center;

}
#add{
    padding:  0;
    /* margin: 0 58px; */
    list-style-type: none;
}
#add li{
    display: inline-block;
    margin: 0 38px;
    
}

#add li p, #add li a{
    font-size: 14px;
    font-weight: bold;
    color: rgb(107, 102, 102);
    text-decoration: none;
}
#add li a:hover{
    color: rgb(205, 27, 27);
}
.masthead .header-main{
    width: 100%;
    background-color: rgb(46, 6, 6);
}
.header-main .contact{
    display: flex;
    
}


.header-main .contact .img-header{
    text-align: center;
    width: 30%;
}


.header-main .contact img{
    width: 100px;
    height: 90px;
    margin-left: 30%;
}
.header-main .contact .call-pay{
    text-align: center;
    width: 100%;
}
.call-pay .user li{
    display: inline-block;
    margin: 32px 60px 0 60px;
    
}
.call-pay .user a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.call-pay .user a:hover{
    color: #c95410;
}
.call-pay .user i{
    font-size: 22px;
    color: #c8a725;
}
.call-pay .search-main{
    padding: 12px;
}
.call-pay .search-main:hover{
    background-color: #e03636;
    color: #fff;
}
.subnav{
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  padding: 10px 0;
  top: 38px;
  border: 1px solid #bbb;
  
}
.subnav >li {
  position: absolute;
  color: #c3bfbf;
  width: 230px;
  text-align: left;
  padding: 12px 48px 12px 12px;
  margin: 0;
  list-style-type: none;
  cursor: pointer;
}
.subnav >li:hover{
  background-color: #ebe5e5;
}
.subnav > li > a {
  color: #848282;
  text-decoration: none;
  width: 100%;
}
.main-nav{
    background-color: #ffca44;
    min-height: 54px;
    text-align: center;
}
.main-nav .navshow{
    list-style-type: none;
    border-bottom: 2px solid #c9aa2e;
   
}
.navshow li:hover .subnav{
  display: block;
}
.main-nav .navshow  li{
  position: relative;
}
.main-nav .navshow > li {
    display: inline-block;
    margin: 19px 42px;
    
}
.navshow>li > a{
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding: 20px;
    color: #000;
}
 .navshow> li >a:hover{
    color: rgb(205, 27, 27);
}

/* ---Slider */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.mySlides {
    display: none;
}

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .text-contaier {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 220px;
    width: 100%;
  }
  .sales1{
    position: absolute;
    top: 16px;
    right: 200px;
  }
  .sales2{
    position: absolute;
    top: 16px;
    left: 200px;
  }
  .texts1{
    position: absolute;
    top: 60px;
    left: 240px;
  }
  .texts2{
    position: absolute;
    top: 60px;
    right: 240px;
  }
.text1{
    font-size: 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .text2{
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .text3{
    margin-top: 28px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .text4{
    line-height: 24px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .start{
    position: absolute;
    top: 210px;
    left: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #e03636;
  }
  .start:hover{
    background-color: #a12323;
    cursor: pointer;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .dots{
    position: relative;
    top: -24px;
  }
  .active, .dot:hover {
    background-color: #717171;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/* ---end---- */
.picture{
  height: 320px;
  width: 100%;
  font-family:'Times New Roman', Times, serif;
  position: relative;
  top: -23px;
  background-color: #f3f0f0;
}
.clear{
  clear: both;
}
.picture .isimg1{
  position: absolute;
  top: 16px;
  left: 20px;
  width: 31%;
}
.picture .isimg2{
  position: absolute;
  top: 16px;
  left: 28px;
  width: 40%;
}
.imgss{
  cursor: pointer;
}
.picture .dog-small{
  position: absolute;
  width: 28%;
  height: 180px;
  top: 68px;
  left: 5%;
  background-color: #f5ca3d;
  box-sizing: border-box;
}
.picture .cat{
  position: absolute;
  width: 28%;
  height: 180px;
  top: 68px;
  right: 36.1%;
  background-color: #aaf352;
  box-sizing: border-box;
}
.picture .dog{
  position: absolute;
  width: 28%;
  height: 180px;
  top: 68px;
  right: 5%;
  background-color: #6cf4ef;
  box-sizing: border-box;
}

.picture .messe{
  position: absolute;
  right: 46px;
  color: #fff;
  top: 20px;
}
.messe .textss1{
  font-size: 26px;
}
.messe .textss2{
  font-size: 32px;
  font-weight: bolder;
  line-height: 48px;
}
.messe .textss3{
  font-size: 28px;
}
.messe .tuvan{
  text-decoration: none;
  color: #fff;
  font-size: 26px;
}
/* end */

/* ------content------- */

#content{
  width: 100%;
  /* height: auto; */
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: -23px;

}
.content-one{
  width: 100%;
  height: 690px;
}
.content-one img{
  width: 80%;
}
.text-title{
  margin-top: 32px;
}
.content-imgs li, .content-price li,
.content-ntt li,.content-btn-combo li{
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
}
.content-imgs li{
  margin: 24px 14px;
}
.content-imgs li:hover, .mains li:hover{
  transform:  scale(1.1);
  transition: 1s;
}
.content-price li{
  width: 280px;
  margin: 12px 18px;
  padding: 20px 32px;
  font-size: 20px;
  line-height: 46px;
  border: solid 1px #f2e9e9;
  border-radius: 4px;

}
.content-price li:hover{
  box-shadow: 0px 4px 4px 4px #c3bfbf;
  transition: 0.4s;
  cursor: pointer;
}
.content-price h2{
  color: #f3c92e;
}
.content-price .content-cart{
  padding: 10px 48px;
  font-weight: bold ;
  border: solid 1px #c3bfbf;
  cursor: pointer;
}
.content-price .content-cart:hover{
  background: #67a022;
  color: #fff;
  border: none;
  transition: 0.5s
}
/* ----end---- */
/* ---content-two--- */

.content-two{
  width: 100%;
  height: 148px;
  background-color: #f3f0f0;
  margin: 0px;
}
.content-ntt li{
  cursor: pointer; 
  margin: 20px 20px 0px;
  padding: 38px;
}
/* ----end---- */
.content-btn-combo li{
  color: #fff;
  cursor: pointer;
  line-height: 34px;
}
.content-btn-combo li:hover{
  box-shadow: 0px 4px 4px 4px #c3bfbf;
  transition: .4s;
}
.content-btn-combo .btn-1{
  margin: 38px 38px;
  padding: 34px 140px;
  background: #f2b552;
}
.content-btn-combo .btn-2{
  margin: 38px 20px;
  padding: 34px 180px;
  background: #91da39;
}
.content-four{
  display: flex;
  justify-content: center;
}

.product-img{
  width: 20%;

}
.mains ul{
  margin: 0 5px 0 5px;
}
.mains li{
  list-style-type: none;
  margin-top: 18px;
  padding: 12px;
  cursor: pointer;
}
.product-money{
  color: #f2b552;
}
.title-text:hover{
  color: #a12323;
}

/* footer */
#footer{
  margin-top: 50px;
  height: 300px;
  background: rgb(29, 4, 4);
  display: flex;
  justify-content: center;
}
#footer .same{
  width: 15%;
  color: #c3bfbf;
  margin-left: 24px;
  margin-top: 38px;
}
.same ul{
  margin-top: 20px;
}
.foot-logo{
  position: relative;
  top: -24px;
}
#footer li{
  list-style-type: none;
  line-height: 30px;
}
#footer li a{
  text-decoration: none;
  color: #c3bfbf;
}
#footer li a:hover{
  color: #a12323;
}
.input-mail{
  width: 80%;
  padding: 10px 26px;
  border-radius: 4px;
  font-size: 16px;
}
.mail{
  cursor: pointer;
  position: relative;
  top: 4px;
  right: 28px;
  font-size: 22px;
  color: #e68146;
}
